@CHARSET "EUC-KR";
/* 
# 작성자 : 이지수
# 작성일 : 2013.08.12 
*/
#title{
	font-size:25px;
	padding:30px 0 40px 0;
	color:#003399;
	width:300px;
	margin:0 auto;
}


/*테이블 공통 스타일*/
#tableTop{
	border-left:none;
	border-right:none;
	border-top:none;
	text-align:right;
	height:40px;
}

#tableLeftTop{
	border-left:none;
	border-right:none;
	border-top:none;
	text-align:left;
	height:40px;
}

#tableBottom{
	border-left:none;
	border-right:none;
	border-bottom:none;
	text-align:center;
	height:50px;
}

/*입점기업 테이블/게시판 스타일*/
#proTable{
	width:850px;
	margin:0 0 0 70px;
	border-collapse:collapse;
}

#proTable th, td{
	border: 1px solid rgb(181,189,200);
	padding:5px;
}

#proTable th{
	background: rgb(210,223,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(210,223,237,1) 0%, rgba(200,215,235,1) 26%, rgba(190,208,234,1) 51%, rgba(166,192,227,1) 51%, rgba(175,199,232,1) 62%, rgba(186,208,239,1) 75%, rgba(153,181,219,1) 88%, rgba(121,155,200,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,223,237,1)), color-stop(26%,rgba(200,215,235,1)), color-stop(51%,rgba(190,208,234,1)), color-stop(51%,rgba(166,192,227,1)), color-stop(62%,rgba(175,199,232,1)), color-stop(75%,rgba(186,208,239,1)), color-stop(88%,rgba(153,181,219,1)), color-stop(100%,rgba(121,155,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2dfed', endColorstr='#799bc8',GradientType=0 ); /* IE6-9 */
	font-size:15px;
}

#proTable th, td{
	text-align:center;
}

#searchSelect{
	padding: 2px 5px;
	font-size: 15px;
	font-family: Malgun Gothic;
}

#searchNo{
	position:absolute;
	top:60%;
	right:35%;
	color:rgb(37,141,200);
}