@CHARSET "EUC-KR";
/* 
# 작성자 : 이지수
# 작성일 : 2013.08.02 
*/

#contentArea{
	padding:30px 30px 30px 120px;
}

#title{
	font-size:25px;
	padding:20px 20px 50px 20px;
	color:#003399;
	width:200px;
	margin:0 auto;
}

/*테이블 공통 스타일*/
#tableTop{
	border-left:none;
	border-right:none;
	border-top:none;
	text-align:right;
	height:40px;
}

#tableLeftTop{
	border-left:none;
	border-right:none;
	border-top:none;
	text-align:left;
	height:40px;
}

#tableBottom{
	border-left:none;
	border-right:none;
	border-bottom:none;
	text-align:center;
	height:50px;
	position:relative;
}

#freeTable{
	width:800px;
	margin:0 0 0 200px;
	border-collapse:collapse;
}

#freeTable th, td{
	border: 1px solid rgb(181,189,200);
	padding:5px;
}

#freeTable th{
	background: rgb(228,245,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
	font-size:15px;
}

#freeTable th, td{
	text-align:center;
}

#wishWriteBtn{
	position:absolute;
	right:0;
}

#goodNumber{
	color:rgb(255,26,0);
	font-weight:bold;
}

#result{
	color:rgb(255,26,0);
	font-weight:bold;
}

#goodBtn{
	float:right;
	display:block;
	width:80px;
    padding:3px 2px;
    margin-right:30px;
}

#message{
	color:rgb(255,103,15);
	font-size:12px;
	padding:5px 10px 0 0;
	float:right;
}

#searchNo{
	position:absolute;
	top:50%;
	right:20%;
	text-align:center;
	color:rgb(37,141,200);
}