@CHARSET "UTF-8";


#submenu_03 {
	background-color:#f2b701;
	min-height: 704px;
	position: absolute;
	left: -120px;
	width: 400px;
	/* z-index: 2; */
}

#subUl{
	width:200px;
	padding:70px 0 0 250px;
}

.submenu03 ul li a{
	display:block;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

.submenu03 ul li a:hover{
	color:rgb(242,130,91);
}